# dependencies
node_modules

# next.js
.next
out

# production
build

# misc
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env
.env*

# OpenClaw workspace files
.openclaw/
AGENTS.md
BOOTSTRAP.md
HEARTBEAT.md
IDENTITY.md
SOUL.md
TOOLS.md
USER.md
memory/
MEMORY.md
